# Ignore everything by default
*

# Don't ignore certain important top-level files
!Makefile
!README.md
!index.html

# Don't ignore certain directories (must "open the path")
!src/
!src/*.h
!src/*.c

!scripts/
